@font-face {
    font-family: "Gentium";
    src: url("../fonts/GENR102.eot"); /* IE9 Compat Modes */
    src: url("../fonts/GENR102d41d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/GENR102.otf") format("opentype"), /* Open Type Font */
    url("../fonts/GENR102.svg") format("svg"), /* Legacy iOS */
    url("../fonts/GENR102.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/GENR102.woff") format("woff"), /* Modern Browsers */
    url("../fonts/GENR102.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.fr-FR-font {
    font-family: "Gentium";
}
