@font-face {
    font-family: "TranslitLSBold";
    src: url("../fonts/English-Fonts/TRLSB0.eot"); /* IE9 Compat Modes */
    src: url("../fonts/English-Fonts/TRLSB0d41d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/English-Fonts/TRLSB0.otf") format("opentype"), /* Open Type Font */
    url("../fonts/English-Fonts/TRLSB0.svg") format("svg"), /* Legacy iOS */
    url("../fonts/English-Fonts/TRLSB0.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/English-Fonts/TRLSB0.woff") format("woff"), /* Modern Browsers */
    url("../fonts/English-Fonts/TRLSB0.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.en-font {
    font-family: "TranslitLSBold";
}